ops/n8n/workflows/cognos-social-autopilot.json
{
  "name": "CognOS Social Autopilot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "command": "cd /media/bjorn/iic/workspace/01_RESEARCH/operational-cognos && python3 src/social_content_pipeline.py --stdout"
      },
      "id": "2",
      "name": "Generate Content JSON",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '{}';\nconst data = JSON.parse(raw);\nconst profileUrls = {\n  linkedin: 'https://www.linkedin.com/in/bjornshomelab/',\n  x: 'https://x.com/Q_for_qualia'\n};\ndata.meta = data.meta || {};\ndata.meta.profile_urls = {\n  ...profileUrls,\n  ...(data.meta.profile_urls || {})\n};\nreturn [{ json: data }];"
      },
      "id": "3",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "linkedin-text",
              "leftValue": "={{ $json.posts.linkedin }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "linkedin-autopublish",
              "leftValue": "={{ String($env.LINKEDIN_AUTOPUBLISH || 'false').toLowerCase() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "4",
      "name": "Has LinkedIn Post",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LINKEDIN_PUBLISH_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.LINKEDIN_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"text\": $json.posts.linkedin }"
      },
      "id": "5",
      "name": "Publish LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1230,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "x-text",
              "leftValue": "={{ $json.posts.x }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "x-autopublish",
              "leftValue": "={{ String($env.X_AUTOPUBLISH || 'false').toLowerCase() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "6",
      "name": "Has X Post",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.X_PUBLISH_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.X_BEARER_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"text\": $json.posts.x }"
      },
      "id": "7",
      "name": "Publish X",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1230,
        380
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Generate Content JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content JSON": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Has LinkedIn Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has X Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has LinkedIn Post": {
      "main": [
        [
          {
            "node": "Publish LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Has X Post": {
      "main": [
        [
          {
            "node": "Publish X",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}
